<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suixingpay.mapper.StatusCodeMapper">
    <resultMap id="RoleMap" type="com.suixingpay.pojo.StatusCode">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="role" property="role" jdbcType="INTEGER"/>
        <result column="process_code" property="processCode" jdbcType="INTEGER"/>
    </resultMap>
    <!-- 用于页面三类管理员审批通过驳回，根据专利id修改状态码
     1.当一审通过1变2，待认领
     当一审不通过1变11，一审不通过
     2.当二审通过5变6，待提交审批
     当二审不通过5变15，二审不通过
     3.当提交通过6变7，提交成功
     当提交不通过6变16，提交失败
     -->

    <!-- 当新建专利提交时，状态码默认设为1待一审 -->
    <update id="updateStatusPass" parameterType="int">
        update `patent_info`
        set
            current_status = current_status + 1
        where `id` = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateStatusReject" parameterType="int">
        update `patent_info`
        set
            current_status = current_status + 10
        where `id` = #{id,jdbcType=INTEGER}
    </update>
    <!-- 用于页面撰写人的待办事件的状态码转化
      不管是哪次驳回，都要把状态码改为编写中15变4，16变4，编写中
    -->
    <update id="updateStatusWriter" parameterType="int">
        update `patent_info`
        set
            current_status = 4
        where `id` = #{id,jdbcType=INTEGER}
    </update>
    <!-- 当认领一瞬间，状态码1变4，状态变为编写中，-->
    <update id="updateStatusClaim" parameterType="com.suixingpay.pojo.PatentInfo">
        update `patent_info`
        set
            current_status = 4,
            owner_user_id=#{ownerUserId,jdbcType=INTEGER}
        where `id` = #{id,jdbcType=INTEGER}
    </update>
    <!-- 编写完4变5 ，待二审-->
    <update id="updateStatusFinish" parameterType="int">
        update `patent_info`
        set
            current_status = 5
        where `id` = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectCodeByRole" parameterType="int" resultMap="RoleMap">
        SELECT process_code
        FROM patent_process
        WHERE role = #{role,jdbcType=INTEGER}
    </select>
</mapper>